.detail-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__text {
    padding-bottom: $spacer;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
  }

  &__until {
    font-size: $font-size-lg;
    text-align: center;

    &.circle {
      align-items: center;
      background: $info;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      height: 150px;
      justify-content: center;
      width: 150px;
    }
  }
}
